*{
  margin: 0%;
  padding: 0%;
}

body > img{
  height: 70px;
  width: 186px;
  margin: 8px auto 0px 200px;
}

.socialmedia  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.socialmedia  li {
  float: left;
}

.socialmedia li img {
  display: block;
  padding: 3px 10px ;
  opacity: 0.3;
}

.socialmedia li img:hover {
  color: #30873f;
}

.socialmedia{
  width: 450px;
  margin: -70px 5px 1px auto;  
  padding: 0 0 0 0;
  height: 30px;
  
}


.menu1  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .menu1  li {
    float: left;
  }
  
  .menu1 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 3px 16px ;
    text-decoration: none;
  }
  
  .menu1 li a:hover {
    text-decoration-line: underline;
  }

  .menu1{
    width: 450px;
    margin: 10px 200px 1px auto;
    background-color: #585858;
    padding: 0 0 0 0;
    height: 30px;
    
  }

  .menu2{
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 45px;
  }
  .menu2 > ul {
    display: flex;
  }

  .menu2 ul, ol{
    list-style: none;
  }

  .menu2 > ul > li > a{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
  }

  .menu2 > ul > li > a + ul{
    background-color: #000;
  }

  .menu2 > ul > li > a + ul a {
    text-decoration: none;
    color: #fff;
  }

  .menu2 > ul > li > a + ul {
    display: none;
    position: absolute;
  }

  .menu2 > ul > li:hover > a + ul {
    display: block;
    z-index: 2;
  }

  .menu2 li ul li {
    position: relative;
  }
  
  .menu2 li a:hover {
    background-color: #30873f;
  }

  .menu2 > ul > li > ul > li{
    margin: 5px 5px 5px 5px;
    padding: 0 0 0 0;
  }

  .menu2 > ul > li > ul > li :hover{
    background-color: #30873f;
  }

  .menu2 > ul > li > img{
      height: 30px;
      width: 30px;
      margin-top: 8px;
      margin-right: 20px;
    }

  hr{
    border-color: hsl(130, 48%, 36%);
    margin-top: 0px;
    border-width: 4px;
    margin-bottom: 0px;
  }

  .carouselExampleIndicators, .carousel-inner > .carousel-item active > img, .carousel-inner > .carousel-item > img {
  height: 512px;
  width: 1024px;
}

.news{
  margin: 10px 200px 0 200px;
}
.news > img{
  width: 50px;
  height: 50px;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-bottom: -60px;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
}

/* Header/Blog Title */
.header {
  padding-top: -10px;
  padding-left: 60px;
  font-size: 30px;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
  height: 500px;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.centercolumn{
  width: 100%;
}

.post1{
  margin: 10px 10px 10px 10px;
}

.post1 > p{
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.post2{
  padding-right: 200px;
}


.post3 {
  padding: 20px;
  margin-left: -8px;
  margin-top: -10px;
  margin-bottom: 25px;
}

.card {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-color: #30873f;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



.footer {
  padding: 20px;
  text-align: center;
  background: black;
  width: 100%;

}

.footer > .cont {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 10px 30px 0px 30px;
  color: white;
}


@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}